<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991491550860-1mnpvfiicov2sc9jea8f7avtnieqnm0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991491550860-1mnpvfiicov2sc9jea8f7avtnieqnm0d</string>
	<key>API_KEY</key>
	<string>AIzaSyBrNRqwTVtUt1i6oCDB0eZkFJ-CDRZNWdc</string>
	<key>GCM_SENDER_ID</key>
	<string>991491550860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MichaelZhao.CSE438-Final-Project</string>
	<key>PROJECT_ID</key>
	<string>ratemycourses-7041b</string>
	<key>STORAGE_BUCKET</key>
	<string>ratemycourses-7041b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991491550860:ios:47211f9a28e3131e1c55a9</string>
	<key>DATABASE_URL</key>
	<string>https://ratemycourses-7041b.firebaseio.com</string>
</dict>
</plist>